 <!-- features Section Start -->
 <div id="app-features" class="section">
  <div class="container">
    <div class="section-header">   
      <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">features</p>       
      <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Amazing Features</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="content-left text-right">
          <div class="box-item left">
            <span class="icon">
              <i class="lni-leaf"></i>
            </span>
            <div class="text">
              <h4>User Friendly</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
              <i class="lni-dashboard"></i>
            </span>
            <div class="text">
              <h4>Super Fast Speed</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
              <i class="lni-headphone-alt"></i>
            </span>
            <div class="text">
              <h4>24/7 Support</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="show-box">
          <img src="../assets/img/features/technology-background-with-blue-links_1035-7273.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="content-right text-left">
          <div class="box-item right">
            <span class="icon">
              <i class="lni-shield"></i>
            </span>
            <div class="text">
              <h4>Secure</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
              <i class="lni-star-filled"></i>
            </span>
            <div class="text">
              <h4>Awesome Rating</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
              <i class="lni-cup"></i>
            </span>
            <div class="text">
              <h4>Award Winning</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- features Section End -->

<!-- Start Video promo Section -->
<section class="video-promo section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          
      </div>
    </div>
  </div>
</section>
<!-- End Video Promo Section -->

<!-- Features Section Start -->

<!-- Features Section End -->   

<!-- Awesome Screens Section Start -->

<!-- Awesome Screens Section End -->  

<!-- Team section Start -->

<!-- Team section End -->

<!-- Testimonial Section Start -->

<!-- Testimonial Section End -->  

<!-- Clients Section -->

<!-- Client Section End --> 

<!-- Subcribe Section Start -->

<!-- Subcribe Section End -->

<!-- Start Pricing Table Section -->
<div id="pricing" class="section pricing-section">
  <div class="container">
    <div class="section-header">   
      <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Pricing</p>       
      <h2 class="section-title">Our Pricing Plan</h2>
    </div>

    <div class="row pricing-tables">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table wow fadeInLeft" data-wow-delay="0.2s">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-rocket"></i>
            </div>
            <h2>Free</h2>
            <ul>
              <li>Free Installation</li>
              <li>2 GB Storage</li>
              <li>Single User</li>
              <li>Sales Dashboard</li>
              <li>Minimal Features</li>
              <li>1000 Logs</li>
            </ul>
            <div class="price">$0<span>/mo</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table pricing-active">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-drop"></i>
            </div>
            <h2>Standard</h2>
            <ul>
              <li>Free Installation</li>
              <li>10 GB Hosting</li>
              <li>5 Users</li>
              <li>Sales Dashboard</li>
              <li>Premium Features</li>
              <li>50,000 Logs</li>
            </ul>
            <div class="price">$99 <span>/mo</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-briefcase"></i>
            </div>
            <h2>Business</h2>
            <ul>
              <li>Free Installation</li>
              <li>50 GB Hosting</li>
              <li>Unlimited Users</li>
              <li>Sales and Marketing Dashbaord</li>
              <li>Premium Features</li>
              <li>Unlimited Logs</li>
            </ul>
            <div class="price">$199 <span>/mo</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Pricing Table Section -->

<!-- download Section Start -->

<!-- download Section Start -->

<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
     <div class="section-header">   
      <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Blog</p>       
      <h2 class="section-title">Recent News</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img text-center">
            <a href="#">
              <i class="devicon-angularjs-plain" style="font-size:8rem"></i>

            </a>   
                        
          </div>
          <div class="blog-item-text"> 
            <h3><a href="single-post.html">How Proton Will Transform Your Business</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="../assets/img/blog/img2.jpg" alt="">
            </a>   
            <div class="author-img">
              <img src="../assets/img/blog/author.png" alt="">
            </div>             
          </div>
          <div class="blog-item-text"> 
            <h3><a href="single-post.html">20 Growth Hacking Tips from Experts</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="../assets/img/blog/img3.jpg" alt="">
            </a>   
            <div class="author-img">
              <img src="../assets/img/blog/author.png" alt="">
            </div>             
          </div>
          <div class="blog-item-text"> 
            <h3><a href="single-post.html">Proton Has Been Launched, Get Started!</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
    </div>
  </div>
</section>
<!-- blog Section End -->

<!-- Map Section Start -->
<section id="map-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 padding-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.7854643354863!2d80.94260401479285!3d26.846775069389047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfdbea4174051%3A0xd235a8db49343f10!2sdigipodium+-+Digital+Marketing+Training+%26+Solutions!5e0!3m2!1sen!2sin!4v1544945448093" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>      </div>
    </div>
  </div>
</section>
<!-- Map Section End -->