<header id="home" class="hero-area-2">
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <a href="index.html" class="navbar-brand"><i class="lni-medall-alt" style="font-size:35px"></i>&nbsp;DigiTech:Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#home">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#blog">Add Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#blog">View Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#map-area">Logout</a>
            </li>
  
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div style="height:80px"></div>
    </div>
  </header>
  <br>
  <br>
  <div class="container">
<div class="row">
  <div class="col-md-4" *ngFor="let k of allvideo">
    <div class="card">
      <div class="card-header">
        <iframe class="img-fluid" [src]="k.Video|safe"></iframe>
      </div>
      <div class="card-body">
        <p>{{k.Des}}</p>
      </div>
      <div class="card-footer bg-dark">
        <h5 class="text-white text-center">{{k.TechName}}</h5>
      </div>
    </div>
  </div>
</div>
</div>
