<header id="home" class="hero-area-2">
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
            <a href="index.html" class="navbar-brand"><i class="lni-medall-alt" style="font-size:35px"></i>&nbsp;DigiTech:Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#home">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#blog">Add Technology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#blog">View Technology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#map-area">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div style="height:80px"></div>
    </div>
</header>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-primary">
                <div class="card-body">
                    <i class="lni-emoji-smile text-white" style="font-size:50px"></i>
                    <br>
                    <br>
                    <h6 class="text-white">
                        50 Users
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <i class="lni-film-play text-white" style="font-size:50px"></i>
                    <br>
                    <br>
                    <h6 class="text-white">
                        100 Videos
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-danger">
                <div class="card-body">
                    <i class="lni-printer text-white" style="font-size:50px"></i>
                    <br>
                    <br>
                    <h6 class="text-white">
                        20 Content
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
