<header id="home" class="hero-area-2">
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <a href="index.html" class="navbar-brand"><i class="lni-medall-alt" style="font-size:35px"></i>&nbsp;DigiTech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#home">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#blog">Technlogy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#map-area">Logout</a>
            </li>
  
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div style="height:80px"></div>
    </div>
  </header>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../assets/img/4.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4">
        <br>
        <div class="card border-warning">
          <div class="card-header bg-warning text-center">
            <img src="../../assets/img/3.png" class="img-fluid">
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">{{Name}}</li>
              <li class="list-group-item">{{Email}}</li>
              <li class="list-group-item">{{Address}}</li>

  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <app-footer></app-footer>